body,
html {
  height: 100%
}

body,
header,
section {
  position: relative
}

body {
  min-width: 320px;
  opacity: 1;
  background: #fff;
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: flex
}

.wrap {
  flex-wrap: wrap
}

.main {
  padding: 0 20px;
}
