.departments{
  .departments__title{
    text-align: center;
  }
  button{
    display: block;
    cursor: pointer;
  }
  .departments__btn_background{
    background: #efeff7;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .departments__btn-select{
    padding: 20px 0 20px 24px;
    background: none;
    border: 0;
    outline: none;
    position: relative;
    &:before{
      left: 0;
      top: 16px;
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      background-image: url("/static/image/location.png");
    }
  }
  .departments__btn-back{
    margin: auto;
    background: white;
    border-radius: 40px;
    padding: 10px 20px;
    border: 1px solid #b2c9da;
    outline: none;
  }
}